<!-- show single post in detail-->
 <!-- Example: When clicking on a post, it opens a full page of that post. -->

<!DOCTYPE html>
<html>
<head><title><%= post.title %></title></head>
<body>
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
  <a href="/">Go Back</a>
</body>
</html>

